
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  .carousel {
    position: relative;
    width: calc(min(90rem, 90%));
    margin: 0 auto;
    padding-block: min(20vh, 3rem);
  }
  
  .bg {
    position: fixed;
    top: -4rem;
    left: -12rem;
    z-index: 0;
    opacity: 0;
  }
  
  .bg2 {
    position: fixed;
    bottom: -2rem;
    right: -3rem;
    z-index: 0;
    width: 9.375rem;
    opacity: 0;
  }
  
  .carousel > .carouselEl span {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    color: var(--main-color);
  }
  
  .carousel > .carouselEl h1 {
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 900;
    font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
    color: white;
  }

  .carousel > .carouselEl .titleCarousel {
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 900;
    font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  }
  
  .carousel > .carouselEl hr {
    display: block;
    background: var(--main-color);
    height: 0.25rem;
    width: 6.25rem;
    border: none;
    margin: 1.125rem 0 1.875rem 0;
  }
  
  .carousel > .carouselEl p {
    line-height: 1.6;
    color: rgb(136, 136, 136);
  }
  
  .carousel a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
    background: var(--main-color);
    border-radius: 3.125rem;
    transition: 0.3s ease-in-out;
  }
  
  .carousel > .carouselEl > a {
    border: 2px solid var(--hover-color);
    margin-top: 2.188rem;
    padding: 0.625rem 1.875rem;
  }
  
  .carousel > .carouselEl > a:hover {
    border: 0.125rem solid #ffffff;
    color: #ffffff;
  }
  
  .swiper {
    width: 100%;
    padding-top: 3.125rem;
  }
  
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background: #fff;
  }
  
  .swiper-pagination {
    bottom: 1.25rem !important;
  }
  
  .swiper-slide {
    width: 18.75rem;
    height: 28.125rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
  }
  
  .swiper-slide h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    padding: 0 0 0 1.563rem;
    text-transform: uppercase;
  }
  
  .swiper-slide p {
    color: #dadada;
    font-weight: 300;
    padding: 0 1.563rem;
    line-height: 1.6;
    font-size: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .swiper-slide a {
    margin: 1.25rem 1.563rem 3.438rem 1.563rem;
    padding: 0.438em 1.875rem;
    font-size: 0.9rem;
  }
  
  .swiper-slide a:hover {
    border: 0.025rem solid #ffffff;
    color: #ffffff;

  }
  
  .swiper-slide .carouselEl {
    display: none;
    opacity: 0;
    padding-bottom: 0.625rem;
  }
  
  .swiper-slide-active .carouselEl {
    display: block;
    opacity: 1;
  }
  
  .swiper-slide--one {
    background: linear-gradient(to top, #000000, #203a4300, #2c536400),
      url("/public/media/Nameless_king.jpg")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--two {
    background: linear-gradient(to top, #000000, #203a4300, #2c536400),
      url("/public/media/abyssWatcher.jpg")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--three {
    background: linear-gradient(to top, #000000, #203a4300, #2c536400),
      url("/public/media/Aldrich_Godeater.jpg")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--four {
    background: linear-gradient(to top, #000000, #203a4300, #2c536400),
      url("/public/media/Pontiff_Sulyvahn.jpg")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--five {
    background: linear-gradient(to top, #000000, #203a4300, #2c536400),
      url("/public/media/CindersSoul.jpg")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
  }
  
  @media screen and (min-width: 48rem) {
    .carousel {
      display: flex;
      align-items: center;
    }
    .bg,
    .bg2 {
      opacity: 0.1;
    }
  }
  
  @media screen and (min-width: 93.75rem) {
    .swiper {
      width: 85%;
    }
  }
  